@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Убираем желтый фон автозаполнения в Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: inherit !important;
}

/* Убираем желтый фон автозаполнения в Firefox */
input:autofill {
  filter: none;
}

nextjs-portal {
  user-select: all !important;
}

.istok-web-regular {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.istok-web-bold {
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.istok-web-regular-italic {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.istok-web-bold-italic {
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  font-style: italic;
}

* {
  -webkit-user-drag: none;
  user-drag: none;
  user-select: none;
}

_next {
  background: #121017 !important;
}

html {
  background: #121017 !important;
}

.prekolbg {
  background: linear-gradient(to bottom,
  #121017 0%,
  #121017 50%,
  #100f14 55%,
  #0e0d12 60%,
  #0c0b0f 65%,
  #0a090c 70%,
  #080708 75%,
  #060506 80%,
  #040304 85%,
  #020202 90%,
  #000000 95%,
  #000000 100%
  ) !important;
}

.prekolbg1 {
  background: #121017 !important;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  background: #121017 !important;
}

.navflex {
  margin: 0 auto;
}

.nonavflex {
  margin: 0px 6px 0px 6px !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    background: #121017 !important;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #121017 !important;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
          "slnt" 0;
  scroll-behavior: smooth;
}

/*body {*/
/*  margin-top: 52px; !* Устанавливаем отступ равный высоте nav + padding *!*/
/*}*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(24, 22, 26, 0.75);
  height: 52px;
  width: 100%;
  padding: 10px;
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  z-index: 1000; /* Устанавливаем высокий z-index, чтобы nav оставался на переднем плане */
}

.logo {
  width: 34px;
  height: 34px;
  margin-right: 7px;
  cursor: pointer;
}

.pixelhost {
  font-weight: bold;
  background:linear-gradient(to left, #7FCCD1, #5B8BD1);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 24px;
  z-index: 9999;
}

.account {
  width: 39px;
  height: 39px;
  background: black;
  border-radius: 9999px;
  padding: 7px;
}

.account {
  order: 1;
}

.account-icon {
  width: 25px;
  height: 25px;
}

.skid {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(180deg, rgba(13, 11, 17, 0), #121017),url("https://cdn.bytenode.cc/Rectangle%2078.png");
  background-size: cover;
  backdrop-filter: blur(5px);
  margin-top: -3px;
}

.pixelhostbig {
  font-weight: bold;
  background:linear-gradient(to left, #7FCCD1, #5B8BD1);
  color: transparent;
  -webkit-background-clip: text;
}

.ftext {
  background:linear-gradient(to left, #7FCCD1, #69AFC8);
  -webkit-background-clip: text;
  color: transparent;
}

.flexo {
  display: flex;
  /*margin-left: 21.9%;*/
}

.flexoc {
  display: flex;
  flex-direction: column;
}

.poch {
  margin-left: 23.9%;
}

main {
  min-height: 100vh;
}

.card-discord {
  border-radius: 15px;
  width: 300px;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-family: "Inter", sans-serif;
  background: #0B0B0B;
  margin-right: 32px;
}

.flexon {
  display: flex;
}

.stupidcenter {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.logindiv {
  width: calc(426px*1.1);
  height: auto;
  padding: 14px 18px 14px 18px;
  background: black;
  border-radius: 10px;
}

.mb-optimize {
  margin-bottom: 0;
}

.ml-optimize {
  margin-left: 15px;
}

.w-optimize {
  width: 100%;
}

.flexop {
  display: flex;
}

.srvs {
  margin-left: 156px;
  padding: 20px;
}

.opmt {
  margin-top: 10px;
}

.content {
  display: flex;
  justify-content: center;
  margin-left: 75px;
  padding: 10px 10px 0px 10px;
  width: calc(100% - 75px);
  margin-top: 52px;
  /*height: 100vh; !* Высота экрана *!*/
  box-sizing: border-box;
}

.min-h-screen-nav {
  min-height: calc(100vh - 52px);
}

.max-h-screen-nav {
  max-height: calc(100vh - 52px);
}

.crd {
  margin-top:52px;
  min-height: 213px;
  max-height: 223px;
}

/*.sbar {*/
/*  margin-top: 52px;*/
/*}*/

.bbar {
  display: none !important;
}

@media (max-width: 820px) {
  .srvs {
    margin-left: calc(156px / 1.8);
  }

  .crd {
    margin-top:0px;
    padding: 10px 10px 10px 10px !important;
    max-width:384px !important;
    align-self: center;
  }

  body {
    margin-top: 0px;
  }

  .avatarochka {
    max-width: 150px;
    max-height: 150px;
  }

  /*main {*/
  /*  align-items: center;*/
  /*  display: flex;*/
  /*  flex-direction: column;*/
  /*}*/

  main {
    flex: 1;
  }
  nav {
    position: static; /* Убираем фиксированное позиционирование */
  }


  .content {
    margin-left: 0px;
    width: 100%;
    height: calc(100vh - 52px); /* Учитываем высоту навигации */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden; /* Убираем скролл */
  }

  .sbar {
    display: none !important; /* Скрыть элемент и не занимать место */
    width: 0; /* Установить ширину в 0 */
    height: 0; /* Установить высоту в 0 */
    position: static; /* Установить позиционирование в static, чтобы не занимал места */
  }

  .bbar {
    position: fixed; /* Fixes the element to the viewport */
    bottom: 10px;    /* Positions the element 10 pixels from the bottom */
    left: 50%;       /* Positions it in the center horizontally */
    transform: translateX(-50%); /* Centers the element by shifting half of its width */
    width: 200px;     /* Fixed width of the bar */
    display: flex !important; /* Ensures the element is displayed as a flex container */
    align-items: center; /* Vertically aligns the content within */
    justify-content: center; /* Horizontally centers the content within */
    box-sizing: border-box; /* Includes padding and border in element's total width */
    padding: 10px; /* Adds padding on left and right */
    gap: 10px;
    /* z-index: 1000;   Keeps the element above others */
    /* background-color: #262231;  Sets a background color */
    border-radius: 10px; /* Optional: Rounds the corners of the bar */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Optional: Adds a shadow for depth */
    align-content: center;
    justify-items: center;
  }

  .flexoc {
    display: block;
  }
  .flexo {
    display: block;
    margin-left: -18px;
  }
  .flexop {
    width: calc(145px*2);
  }
  .idinahui {
    width: calc(145px*2);
  }
  .flexon {
    display: block;
    margin-left: -18px;
  }
  .poch {
    margin-left: 20px;
  }
  .card-discord {
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .logindiv {
    width: 326px;
  }
  .mb-optimize {
    margin-bottom: 0;
  }
  .ml-optimize {
    margin-left: 0;
  }
  .w-optimize {
    width: 145px;
  }
}

@media (max-width: 1180px) {
  .flexo {
    margin-left: -18px;
  }
  .flexon {
    margin-left: -18px;
  }
  .poch {
    margin-left: 20px;
  }
}

@media (max-width: 140px) {
  * {
    display: none;
  }
}

bgg {
  background: linear-gradient(to bottom, #1E1B26, #070709);
}

.hr {
  clear: both;
  border: 0;
  height: 3px;
  background: linear-gradient(to right bottom, #396FFA, #20F3CD);
}

.bgnigga {
  background: url("https://cdn.builder.io/api/v1/image/assets/TEMP/6bafe556f26b2e952bb2c908c5d8b6c7c833fdb79620cbe701966932e2d6b330?apiKey=c884363479e8457ebcf85cff30a5d30d&");
  background-size: cover;
}

.borderr7 {
  border-radius: 7px;
}

.borderr8 {
  border-radius: 8px;
}

.sbarbg {
  background: rgba(24, 22, 26, 0.75);
  backdrop-filter: blur(10px);
}

.p-0-imp {
  padding: 0px !important;
}